html { font-size: 10px; }

@media (max-width: 767px) { html { font-size: 9px; } }

@media (max-width: 374px) { html { font-size: 8px; } }

body { font-size: 1.6rem; font-family: "Open Sans", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

a { cursor: pointer; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; transition: all 0.15s ease; text-decoration: none; color: #0081c6; }

a:hover, a:focus, a:active { color: #0c5692; text-decoration: none; }

hr { height: 2px; padding: 0; border: 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }

@media (min-width: 991px) { .width-sm { max-width: 63rem; margin: 0 auto; } }

.check-ellipse { border: 2px solid #8CB954; color: #8CB954; width: 5rem; height: 5rem; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 3rem; }

.btn { font-size: 1.4rem; padding: .8rem 2rem; text-transform: uppercase; font-weight: bold; text-shadow: 0; }

.btn-primary { color: #fff; background-color: #0081c6; border: none; }

.btn-primary:hover, .btn-primary:focus { background-color: #006093; }

.section-heading { margin-bottom: 3.5rem; }

.section-heading h2 { color: #0081c6; font-size: 2.8rem; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 2.5rem 1.5rem; border-bottom: 1rem solid #0081c6; }

.header .brand-logo img { max-width: 27rem; }

@media (max-width: 1023px) { .header .brand-logo img { max-width: 18rem; } }

.footer { margin-top: auto; }

.footer__primary { background-color: #53565a; color: rgba(255, 255, 255, 0.7); padding: 5rem 0; }

@media (max-width: 767px) { .footer__primary .col-6:last-child { margin-top: 3rem; } }

.footer_titles { font-weight: 600; margin-bottom: 1rem; }

@media (max-width: 1023px) { .footer__social-media { margin-top: 3rem; } }

.footer__social-media ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer__social-media ul li { margin-right: 1.5rem; }

.footer__social-media ul li a { width: 5rem; height: 5rem; color: #53565a; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: rgba(255, 255, 255, 0.7); font-size: 3.5rem; border-radius: 50%; }

.footer__sub-nav li { margin-top: .5rem; }

.footer__sub-nav li a { color: rgba(255, 255, 255, 0.7); font-size: 1.4rem; }

.footer__sub-nav li a:hover, .footer__sub-nav li a:focus { color: white; }

.footer__secondary { padding: 3rem 0; font-size: 1.2rem; }

@media (max-width: 767px) { .footer__secondary { text-align: center; } }

.footer__brand { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 2.5rem; }

@media (max-width: 1023px) { .footer__brand { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

@media (max-width: 767px) { .footer__brand { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.footer__brand-logo img { width: 20rem; }

@media (max-width: 1023px) { .footer__brand-logo img { margin-bottom: 1.5rem; } }

.footer__brand-links-list { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 2.5rem; font-weight: bold; }

@media (max-width: 1023px) { .footer__brand-links-list { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-left: 0; } }

.footer__brand-links-list li::after { content: ""; width: 2px; height: 1.5rem; background-color: #c6c4c4; display: inline-block; margin: 0rem 2rem; position: relative; top: .3rem; }

.footer__brand-links-list li:last-of-type:after { display: none; }

@media (max-width: 1023px) { .footer__brand-links-list li:first-of-type:after { padding-left: 0; } }

.footer__sponsors { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.footer__sponsors .footer__sponsors-item { margin: 0 0 2rem 3rem; }

@media (max-width: 767px) { .footer__sponsors { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.bgca-bu-tabs { text-align: left; }

.bgca-bu-tabs .nav-tabs { border: none; }

.bgca-bu-tabs .nav-tabs .nav-link { background-color: #c6c4c4; color: white; border: none; margin-right: 5px; padding: 1rem 2rem; border-top-left-radius: 5px; border-top-right-radius: 5px; }

.bgca-bu-tabs .nav-tabs .nav-link.active { background-color: #0081c6; }

@media (max-width: 413px) { .bgca-bu-tabs .nav-tabs .nav-link { font-size: 1.4rem; } }

@media (max-width: 413px) { .bgca-bu-tabs .nav-tabs .nav-link { font-size: 1.3rem; } }

.bgca-bu-tabs .tab-container { padding: 1rem; background-color: #F5F0EF; border-radius: 0px 5px 5px 5px; }

.bgca-bu-tabs .business-unit-controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 2.5rem 0 0; }

.bgca-bu-tabs .card { border: none; }

.bgca-bu-tabs .card:not(:last-of-type) { margin-bottom: .5rem; }

.bgca-bu-tabs .card .card-body { padding: .5rem 0 0 0; background-color: #F5F0EF; }

.bgca-bu-tabs .card .card-header { border: none; -webkit-box-shadow: none; box-shadow: none; padding: 0; }

.bgca-bu-tabs .card .card-header button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; padding: 0 1rem; height: 4.5rem; border-radius: 0; text-decoration: none !important; }

.bgca-bu-tabs .card .card-header button .bu-category-title { font-size: 1.8rem; color: #0081c6; font-weight: normal; text-transform: capitalize; }

.bgca-bu-tabs .card .card-header button i { -webkit-transition: all .2s ease-in 0s; -o-transition: all .2s ease-in 0s; transition: all .2s ease-in 0s; font-size: 2rem; color: black; }

.bgca-bu-tabs .card .card-header button.collapsed i { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.bgca-bu-tabs .bu-list-item-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem 1.5rem; background-color: white; }

@media (max-width: 1023px) { .bgca-bu-tabs .bu-list-item-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; } }

.bgca-bu-tabs .bu-list-item-container:not(:last-of-type) { margin-bottom: .5rem; }

.bgca-bu-tabs .bu-list-item-container .bu-list-item { width: calc(100% - 20rem); }

@media (max-width: 1023px) { .bgca-bu-tabs .bu-list-item-container .bu-list-item { width: 100%; } }

.bgca-bu-tabs .bu-list-item-container .bu-list-item-title { color: #0081c6; font-size: 1.5rem; }

.bgca-bu-tabs .bu-list-item-container .bu-list-description { font-size: 1.4rem; font-weight: 300; }

.prefrence-checkboxes input[switch] { display: none; font-family: "Open Sans", sans-serif; }

.prefrence-checkboxes input[switch] + label { font-size: 1em; line-height: 1; width: 16rem; height: 3rem; background-color: #c6c4c4; background-image: none; border-radius: 20px; padding: 0.1666666667rem; cursor: pointer; display: inline-block; text-align: center; position: relative; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset; font-family: inherit; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-box-shadow: none; box-shadow: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; }

.prefrence-checkboxes input[switch]:checked + label { background-color: #8CB954; }

.prefrence-checkboxes input[switch] + label:before { text-transform: uppercase; color: white; content: attr(data-off-label); display: block; font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 1.4rem; line-height: 1.74rem; position: absolute; right: 0; margin: 0; top: 0; text-align: center; min-width: 1.6666666667rem; overflow: hidden; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: calc(100% - 2rem); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 3rem; }

.prefrence-checkboxes input[switch] + label:after { content: ''; position: absolute; left: 5%; background-color: #f7f7f7; -webkit-box-shadow: none; box-shadow: none; border-radius: 2rem; height: 2rem; width: 2rem; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.prefrence-checkboxes input[switch]:checked + label:before { color: #fff; content: attr(data-on-label); right: auto; left: 0.2166666667rem; }

.prefrence-checkboxes input[switch]:checked + label:after { left: 85%; background-color: white; -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3); }

.prefrence-checkboxes input[switch] input[switch="bool"] + label:before { color: #fff !important; }

.prefrence-checkboxes.global input[switch] + label:before { font-size: 1.2rem; }

.prefrence-checkboxes.global input[switch] + label:after { font-size: 1.2rem; }

.mandatory-communications { background-color: #F5F0EF; border-top: 0.2rem solid #c6c4c4; }

.mandatory-communications .mandatory-communications-list .list-item { background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.mandatory-communications .mandatory-communications-list .list-item:not(:last-of-type) { margin-bottom: .2rem; }

.mandatory-communications .mandatory-communications-list .list-item-details { width: calc(100% - 6.5rem); }

.mandatory-communications .mandatory-communications-list .list-item-details p { font-weight: 300; font-size: 1.4rem; }

.mandatory-communications .mandatory-communications-list .list-item-details .list-item-title { color: #0081c6; }

.page-section.error .check-ellipse { border-color: #dc3545; -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
