.bgca-bu-tabs {
    text-align: left;
    .nav-tabs {
        border: none;
        .nav-link {
            background-color: $grey-m;
            color: white;
            border: none;
            margin-right: 5px;
            padding: 1rem 2rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &.active {
                background-color: $brand-blue;
            }
            @media (max-width: $screen-xs - 1px) {
                font-size: 1.4rem;
            }
            @media (max-width: $screen-xs - 1px) {
                font-size: 1.3rem;
            }
        }
    }
    .tab-container {
        padding: 1rem;
        background-color: $grey-lt;
        border-radius: 0px 5px 5px 5px;
    }
    .business-unit-controls {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem 0 0;
    }
    .card {
        border: none;
        &:not(:last-of-type) {
            margin-bottom: .5rem;
        }
        .card-body {
            padding: .5rem 0 0 0;
            background-color: $grey-lt;
        }
        .card-header {
            border: none;
            box-shadow: none;
            padding: 0;
            button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;
                height: 4.5rem;
                border-radius: 0;
                text-decoration: none !important;
                .bu-category-title {
                    font-size: 1.8rem;
                    color: $brand-blue;
                    font-weight: normal;
                    text-transform: capitalize;
                }
                i {
                    transition: all .2s ease-in 0s;
                    font-size: 2rem;
                    color: black;
                }
                &.collapsed {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .bu-list-item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: white;
        @media (max-width: $screen-sm-ls - 1px) {
            flex-direction: column;
            align-items: flex-end;
        }
        &:not(:last-of-type) {
            margin-bottom: .5rem;
        }
        .bu-list-item {
            width: calc(100% - 20rem);
            @media (max-width: $screen-sm-ls - 1px) {
                width: 100%;
            }
        }
        .bu-list-item-title {
            color: $brand-blue;
            font-size: 1.5rem;
        }
        .bu-list-description {
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
}

.prefrence-checkboxes {
    input[switch] {
        display: none;
        font-family: "Open Sans", sans-serif;
        &+label {
            font-size: 1em;
            line-height: 1;
            width: 16rem;
            height: 3rem;
            background-color: $grey-m;
            background-image: none;
            border-radius: 20px;
            padding: 0.1666666667rem;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            position: relative;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
            font-family: inherit;
            transition: all 0.3s ease-in-out;
            box-shadow: none;
            display: flex;
            align-items: center;
            margin: 0
        }
        &:checked+label {
            background-color: $green;
        }
        &+label:before {
            text-transform: uppercase;
            color: white;
            content: attr(data-off-label);
            display: block;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.74rem;
            position: absolute;
            right: 0;
            margin: 0;
            top: 0;
            text-align: center;
            min-width: 1.6666666667rem;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            width: calc(100% - 2rem);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
        }
        &+label:after {
            content: '';
            position: absolute;
            left: 5%;
            background-color: #f7f7f7;
            box-shadow: none;
            border-radius: 2rem;
            height: 2rem;
            width: 2rem;
            transition: all 0.3s ease-in-out;
        }
        &:checked+label:before {
            color: #fff;
            content: attr(data-on-label);
            right: auto;
            left: 0.2166666667rem;
        }
        &:checked+label:after {
            left: 85%;
            background-color: white;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }
    input[switch] input[switch="bool"]+label:before {
        color: #fff !important;
    }
    &.global {
        input[switch] {
            &+label:before {
                font-size: 1.2rem;
            }
            &+label:after {
                font-size: 1.2rem;
            }
        }
    }
}

.mandatory-communications {
    background-color: $grey-lt;
    border-top: .2rem solid $grey-m;
    .section-heading {
        h2 {
            // color: white;
        }
    }
    bu-list-item .sub-heading {
        // color: darken(white, 10%);
    }
    .mandatory-communications-list {
        .list-item {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-of-type) {
                margin-bottom: .2rem;
            }
        }
        .list-item-details {
            width: calc(100% - 6.5rem);
            p {
                font-weight: 300;
                font-size: 1.4rem;
            }
            .list-item-title {
                color: $brand-blue;
            }
        }
    }
}

.page-section {
    &.error {
        .check-ellipse {
            border-color: $danger;
            transform: scale(1.2);
        }
    }
}