.footer {
    margin-top: auto;
    &__primary {
        background-color: $grey-dk;
        color: rgba(white, .7);
        padding: 5rem 0;
        .col-6 {
            @media (max-width: $screen-sm - 1px) {
                &:last-child {
                    margin-top: 3rem;
                }
            }
        }
    }
    &_titles {
        font-weight: 600;
        margin-bottom: 1rem;
    }
    &__social-media {
        @media (max-width: $screen-sm-ls - 1px) {
            margin-top: 3rem;
        }
        ul {
            display: flex;
            li {
                margin-right: 1.5rem;
                a {
                    width: 5rem;
                    height: 5rem;
                    color: $grey-dk;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(white, .7);
                    font-size: 3.5rem;
                    border-radius: 50%;
                }
            }
        }
    }
    &__sub-nav {
        li {
            margin-top: .5rem;
            a {
                color: rgba(white, .7);
                font-size: 1.4rem;
                &:hover,
                &:focus {
                    color: white;
                }
            }
        }
    }
    &__secondary {
        padding: 3rem 0;
        font-size: 1.2rem;
        @media (max-width: $screen-sm - 1px) {
            text-align: center;
        }
    }
    &__brand {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
        @media (max-width: $screen-sm-ls - 1px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: $screen-sm - 1px) {
            align-items: center;
        }
    }
    &__brand-logo {
        img {
            width: 20rem;
            @media (max-width: $screen-sm-ls - 1px) {
                margin-bottom: 1.5rem;
            }
        }
    }
    &__brand-links-list {
        display: flex;
        margin-left: 2.5rem;
        font-weight: bold;
        @media (max-width: $screen-sm-ls - 1px) {
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 0;
        }
        li {
            &::after {
                content: "";
                width: 2px;
                height: 1.5rem;
                background-color: $grey-m;
                display: inline-block;
                margin: 0rem 2rem;
                position: relative;
                top: .3rem;
            }
            &:last-of-type:after {
                display: none;
            }
            @media (max-width: $screen-sm-ls - 1px) {
                &:first-of-type:after {
                    padding-left: 0;
                }
            }
        }
    }
    &__sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .footer__sponsors-item {
            margin: 0 0 2rem 3rem;
        }
        @media (max-width: $screen-sm - 1px) {
            justify-content: center;
        }
    }
}