.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
    border-bottom: 1rem solid $brand-blue;
    .brand-logo img {
        max-width: 27rem;
        @media (max-width: $screen-sm-ls - 1px) {
            max-width: 18rem;
        }
    }
}