.width-sm {
    @media (min-width: $screen-md) {
        max-width: 63rem;
        margin: 0 auto;
    }
}

.check-ellipse {
    border: 2px solid $green;
    color: $green;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}