html {
  font-size: 10px;
  @media (max-width: $screen-sm - 1px) {
    font-size: 9px;
  }
  @media (max-width: $screen-xxs - 1px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  cursor: pointer;
  transition: all 0.15s ease;
  text-decoration: none;
  color: $brand-blue;
  &:hover,
  &:focus,
  &:active {
    color: $blue-dk;
    text-decoration: none;
  }
}

hr {
  height: 2px;
  padding: 0;
  border: 0;
  &.md {}
  &.lg {}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}