//-- Border radius
$border-radius-sm: 3px;
$border-radius: 4px;
$border-radius-md: 8px;
$border-radius-lg: 15px;
$border-radius-round: 50%;
//--- Spacing
$gap-xs: 0.5rem;
$gap-sm: 1rem;
$gap: 2rem;
$gap-md: 3rem;
$gap-lg: 4rem;
//-- Screen sizes
$screen-xxs: 375px;
$screen-xs: 414px;
$screen-sm: 768px;
$screen-sm-ls: 1024px;
$screen-md-min: 990px;
$screen-md: 991px;
$screen-lg: 1200px;
$screen-lg-min: 1199px;
$screen-xl: 1480px;