.btn {
    font-size: 1.4rem;
    padding: .8rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0;
}

.btn-primary {
    color: #fff;
    background-color: $brand-blue;
    border: none;
    &:hover,
    &:focus {
        background-color: darken($brand-blue, 10%)
    }
}